@media only screen and (max-width: 767px) {
    .mobile-width-100 {
        width: 100%;
    }
    .units-row .unit-90,
    .units-row .unit-80,
    .units-row .unit-75,
    .units-row .unit-70,
    .units-row .unit-66,
    .units-row .unit-65,
    .units-row .unit-60,
    .units-row .unit-50,
    .units-row .unit-40,
    .units-row .unit-35,
    .units-row .unit-33,
    .units-row .unit-30,
    .units-row .unit-25,
    .units-row .unit-20,
    .units-row .unit-10 {
        width: 100%;
        /*! float: none; */
        margin-left: 0;
        margin-bottom: 1.65em;
    }
    .unit-push-90,
    .unit-push-80,
    .unit-push-75,
    .unit-push-70,
    .unit-push-66,
    .unit-push-65,
    .unit-push-60,
    .unit-push-50,
    .unit-push-40,
    .unit-push-35,
    .unit-push-33,
    .unit-push-30,
    .unit-push-25,
    .unit-push-20,
    .unit-push-10 {
        left: 0;
    }
    .units-row .unit-push-right {
        float: none;
    }
    .units-mobile-50 .unit-90,
    .units-mobile-50 .unit-80,
    .units-mobile-50 .unit-75,
    .units-mobile-50 .unit-70,
    .units-mobile-50 .unit-66,
    .units-mobile-50 .unit-65,
    .units-mobile-50 .unit-60,
    .units-mobile-50 .unit-40,
    .units-mobile-50 .unit-30,
    .units-mobile-50 .unit-35,
    .units-mobile-50 .unit-33,
    .units-mobile-50 .unit-25,
    .units-mobile-50 .unit-20,
    .units-mobile-50 .unit-10 {
        float: left;
        margin-left: 3%;
        width: 48.5%;
    }
    .units-mobile-50 .unit-90:first-child,
    .units-mobile-50 .unit-80:first-child,
    .units-mobile-50 .unit-75:first-child,
    .units-mobile-50 .unit-70:first-child,
    .units-mobile-50 .unit-66:first-child,
    .units-mobile-50 .unit-65:first-child,
    .units-mobile-50 .unit-60:first-child,
    .units-mobile-50 .unit-40:first-child,
    .units-mobile-50 .unit-35:first-child,
    .units-mobile-50 .unit-30:first-child,
    .units-mobile-50 .unit-33:first-child,
    .units-mobile-50 .unit-25:first-child,
    .units-mobile-50 .unit-20:first-child,
    .units-mobile-50 .unit-10:first-child {
        margin-left: 0;
    }
}
/* =Blocks Responsive
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
    .blocks-2,
    .blocks-3,
    .blocks-4,
    .blocks-5,
    .blocks-6 {
        margin-left: 0;
        margin-bottom: 1.65em;
    }
    .blocks-2 > li,
    .blocks-3 > li,
    .blocks-4 > li,
    .blocks-5 > li,
    .blocks-6 > li {
        float: none;
        margin-left: 0;
        width: 100%;
    }
    .blocks-mobile-50 > li,
    .blocks-mobile-33 > li {
        float: left;
        margin-left: 3%;
    }
    .blocks-mobile-33,
    .blocks-mobile-50 {
        margin-left: -3%;
    }
    .blocks-mobile-50 > li {
        width: 47%;
    }
    .blocks-mobile-33 > li {
        width: 30.333333333333332%;
    }
}
/* =Typography Responsive
-----------------------------------------------------------------------------*/
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    h1 {
        font-size: 2.25em;
        line-height: 1.125;
    }
    h2 {
        font-size: 1.5em;
        line-height: 1.25;
    }
    h3 {
        font-size: 1.3125em;
        line-height: 1.25;
    }
    h4 {
        font-size: 1.125em;
        line-height: 1.22222222;
    }
    h5 {
        font-size: 1em;
    }
    h6 {
        font-size: 0.75em;
    }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    h1 {
        font-size: 2.25em;
        line-height: 1.25;
    }
    h2 {
        font-size: 1.5em;
        line-height: 1.15384615;
    }
    h3 {
        font-size: 1.3125em;
        line-height: 1.13636364;
    }
    h4 {
        font-size: 1.125em;
        line-height: 1.11111111;
    }
    h5 {
        font-size: 1em;
    }
    h6 {
        font-size: 0.75em;
    }
    .lead {
        font-size: 1.2em;
    }
    ul,
    ol,
    ul ul,
    ol ol,
    ul ol,
    ol ul {
        margin-left: 1.65em;
    }
    blockquote {
        margin-left: 0;
    }
}
/* =Navigation Responsive
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
    .navbar.navbar-left,
    .navbar.navbar-right,
    .navbar li,
    .navbar.navbar-left li,
    .navbar.navbar-right li {
        float: none;
        text-align: left;
        width: auto;
    }
    .navbar li,
    .navbar.navbar-right li {
        margin-left: 0;
        margin-right: 0;
    }
    .fullwidth ul,
    .fullwidth li {
        width: auto;
    }
    .fullwidth li {
        display: block;
    }
}
/* =Forms Responsive
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
    .forms-list label {
        display: inline-block;
    }
}
@media print {
    * {
        text-shadow: none !important;
        color: #000 !important;
        background: transparent !important;
        box-shadow: none !important;
        font-size: 12pt;
    }
    .h1,
    h1 {
        font-size: 36pt;
    }
    .h2,
    h2 {
        font-size: 24pt;
    }
    .h3,
    h3 {
        font-size: 18pt;
    }
    .h4,
    h4 {
        font-size: 14pt;
    }
    .h5,
    h5 {
        font-size: 12pt;
    }
    .h6,
    h6 {
        font-size: 12pt;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }
    pre,
    blockquote {
        page-break-inside: avoid;
    }
    blockquote {
        border: none;
        font-style: italic;
    }
    img {
        max-width: 100% !important;
    }
    select {
        background: #fff !important;
    }
}
