
.card{
    border-radius: 15px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
    margin-bottom: 10px;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card h3{
    font-weight: 600;
}

.card img{
    position: absolute;
    top: 20px;
    right: 15px;
    max-height: 120px;
}

.card-1{
    /*background-image: url(https://cache.nichehuset.dk/annoncer/jobannoncer/images/annoncoerer/logoer_socialmedia/1913/3151.png);*/
    background-image: url("../image/tec.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100px;

}

.card-2{
    /*background-image: url(https://images.squarespace-cdn.com/content/5b052242506fbe7ea6c0969c/1539868936426-869NHDYJ3T0P9JJE2G5J/DTU_Logo_Corporate_Red_RGB.png?format=1500w&content-type=image%2Fpng);*/
    background-image: url("../image/dtulogo.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 70px;

}

.card-3{
    background-image: url("../image/itsupport.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 110px;

}
.card-4{
     background-image: url("../image/netcompany.png");
     background-repeat: no-repeat;
     background-position: right;
     background-size: 80px;

 }
.card-5{
    background-image: url("../image/cbslogo.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 70px;

}


@media(max-width: 490px){
    .card{
        margin: 20px;
    }
    .card-1 {
        background-size: 88px;
        background-position-y: 15px;
        background-position-x: right;
}
    .card-2 {
        background-image: url("../image/dtu_compute.jpg");
        background-size: 115px;
        background-position-y: 15px;
        background-position-x: right;
    }
    .card-5 {
        background-size: 55px;
        background-position-y: -6px;
        background-position-x: right;
    }
    .card-4 {
        background-size: 70px;
        background-position-y: 10px;
        background-position-x: right;
    }
    .card >p{
        width: 215px;
        font-size: 13px;
    }
}




















#timelinee {
    display: flex;
    background-color: rgb(255, 251, 251);
    border-radius: 20px;
}

#timelinee:hover .tl-item {
    width: 23.3333%;
}

.tl-item {
    transform: translate3d(0px, 0px, 0px);
    position: relative;
    width: 25%;
    height: 400px;
    min-height: 100px;
    color: rgb(255, 255, 255);
    overflow: hidden;
    transition: width 0.5s ease 0s;
}

.tl-item:before, .tl-item:after {
    transform: translate3d(0px, 0px, 0px);
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}
@media only screen and (max-width: 860px) {
    .tl-content{
        margin: 0px 0.318em !important;
        top: 12% !important;
    }
    .blogTitle{
        font-size: 0.8rem !important;
        margin-bottom: 1px !important;
    }
    .blogP {
        font-size: 0.65rem !important;
    }
}
.tl-item:after {
    background: rgba(246, 247, 248, 0.89);
    opacity: 1;
    transition: opacity 0.5s ease;

}

.tl-item:before {
    background: linear-gradient(rgb(222, 232, 231) 0%, black 75%);
    z-index: 1;
    opacity: 0;
    transform: translate3d(0px, 0px, 0px) translateY(50%);
    transition: opacity 0.5s ease 0s, transform 0.5s ease 0s;
}

.tl-item:hover {
    width: 30% !important;
}

.tl-item:hover:after {
    opacity: 0;
}

.tl-item:hover:before {
    opacity: 1;
    transform: translate3d(0, 0, 0) translateY(0);
    transition: opacity 1s ease, transform 1s ease 0.25s;
}

.tl-item:hover .tl-content {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.75s ease 0.5s;
}

.tl-item:hover .tl-bg {
    filter: grayscale(0);
}

.tl-content {
    transform: translate3d(0px, 0px, 0px) translateY(25px);
    position: relative;
    z-index: 1;
    text-align: center;

    top: 17%;
    opacity: 0;
    margin: 0px 1.618em;
}

.tl-content h1 {
    text-transform: uppercase;
    color: #333333;
    font-size: 1.44rem;
    font-weight: normal;
}

.tl-year {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    border-top: 1px solid rgb(114, 114, 114);
    border-bottom: 1px solid rgb(114, 114, 114);
    font-weight: bold;
}

.tl-year p {
    color: rgb(78, 76, 80);
    font-size: 0.9rem;

}

.tl-bg {
    transform: translate3d(0px, 0px, 0px);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50px;
    left: 0px;
    background-size: contain;
    background-position: top;
    transition: filter 0.5s ease;
    filter: grayscale(45%)
}
